/* 
    EVERYTHING
*/
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* 
    ELEMENTS
*/
body {
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 98vh;
}
/* 
    CLASSES
*/
/* 
        Quiz box
*/
.quiz-container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    border-radius: 6px;
    padding: 30px;
    background-color: rgb(173, 163, 115);
    border: 1px solid #222;
}
/* 
        Question box
*/
.question-container {
    margin: 0 0 30px 0;;
    display: flex;
    justify-content: center;
}
.question {
    background-color: antiquewhite;
    padding: 20px;
    margin: 5px;
    border-radius: 6px;;
    border: 1px solid #222;
}
/* 
        Answers box
*/
.answer-container {
    display: grid;
    grid-template-columns: auto auto;
}
.answer {
    background-color: antiquewhite;
    padding: 20px;
    margin: 5px;
    border-radius: 6px;
    border: 1px solid #222;
    font-size: 16px;
    cursor: pointer;
    font-weight: 550;
}
.answer:hover {
    background-color: #816b56;
    color: antiquewhite;
    animation: glow 4s infinite;
}
@keyframes glow {
    0% {
        filter: brightness(100%);
    }
    50% {
        filter: brightness(120%);
    }
    100% {
        filter: brightness(100%);
    }
}