/* 
    EVERYTHING
*/
:root {
    --bg: url('https://images.unsplash.com/photo-1659298338843-f0701c9eab64') no-repeat left center / cover;
    --btn-color: rgb(230, 182, 80);
    --box-color: rgb(231, 209, 161);
    --hover-color: #ce59e6;
    --hoverAnim-color: #dd9aeb;
  }
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    z-index: 0;
}
/* 
    ELEMENTS
*/
body {
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 98vh;
}
/* 
    CLASSES
*/
/* 
        Hidden Class
*/
.hidden {
    display: none !important;
}
/* 
        Top tab
*/
.top-tab-container {
    position: relative;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 6px;
}
.top-tab {
    position: relative;
    width: 100%;
    background: linear-gradient(34deg, rgb(185, 117, 216) 30%, rgb(238, 173, 130) 70%);
    text-align: center;
    border: 1px solid #222;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    overflow: hidden;
    margin: 0px;
    padding: 0px 0px;
    border-radius: 6px;
}
.prog-bar {
    position: absolute;
    width: 50%;
    background-color: #eee384;
    height: 100%;
}
#top-text {
    position: relative;
}
/* 
        Quiz box
*/
.quiz-container {
    position: relative;
    margin: auto;
    border-radius: 6px;
    padding: 30px;
    border: 1px solid #222;
    overflow: hidden;
}
.background-image {
    position: absolute;
    height: 1000px;
    width: 1000px;
    right: -250px;
    top: -10px;
    background: var(--bg);
    filter: saturate(60%) brightness(100%);
}
/* 
        Question box
*/
.question-container {
    margin: 0px 0 20px 0;
    display: flex;
    justify-content: center;
}
.question {
    background-color: var(--btn-color);
    padding: 40px 20px;
    margin: 5px;
    border-radius: 6px;
    border: 1px solid #222;
    display: relative;
    max-width: 300px;
}
/* 
        Answers box
*/
.answer-container {
    margin: 0 0 30px 0;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    justify-content: center;
}
@media (max-width: 800px) {
    .answer-container {
        grid-template-columns: auto;
        justify-items: center;
        justify-content: center;
    }
}
.answer {
    position: relative;
    background-color: var(--btn-color);
    width: 250px;
    /* padding: 0px 100px; */
    margin: 5px;
    border-radius: 6px;
    border: 1px solid #222;
    font-size: 16px;
    cursor: pointer;
    font-weight: 550;
    text-align: center;
}
.answer:hover {
    background-color: var(--hover-color);
    animation: glow 4s infinite;
}
/* 
        Start / Next Button
*/
.stnt-container {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 60px 0 0 0;
    
}
.stnt-button {
    background-color: var(--btn-color);
    padding: 0px 80px;
    margin: 5px;
    border-radius: 6px;
    border: 1px solid #222;
    cursor: pointer;
}
.stnt-button:hover {
    background-color: var(--hover-color);
    animation: glow 4s infinite;
}
.text-container {
    margin: 0 0 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-box {
    background-color: var(--box-color);
    padding: 20px;
    margin: 5px;
    border-radius: 6px;
    border: 1px solid #222;
    display: relative;
    max-width: 300px;
}
::placeholder {
    color: #222;
    text-align: center;
}
.guess-btn {
    position: relative;
    background-color: var(--btn-color);
    padding: 20px 20px;
    border-radius: 6px;
    border: 1px solid #222;
    font-size: 16px;
    cursor: pointer;
    font-weight: 550;
    margin: 20px 0 0 0;
}
.guess-btn:hover {
    background-color: var(--hover-color);
    animation: glow 4s infinite;
}
/* 
        Correct / False Classes
*/
.false {
    cursor: default !important;
    background-color: #bd1d1d !important;
    pointer-events: none;
}
.correct {
    cursor: default !important;
    background-color: #3bdd51 !important;
    pointer-events: none;
}
.enterAnim {
    animation: enter .2s 1;
}
/* 
    ANIMATIONS
*/
@keyframes glow {
    0% {
        filter: brightness(100%);
        background-color: var(--hover-color);
    }
    50% {
        filter: brightness(120%);
        background-color: var(--hoverAnim-color);
    }
    100% {
        filter: brightness(100%);
        background-color: var(--hover-color);
    }
}
@keyframes enter {
    0% {
        transform: scale(.5);
    }
    100% {
        transform: scale(1);
    }
}